<div class="login">
    <h2>@Html.Raw(Resources.ForgotPasswordResource.PasswordChangeHeader)</h2>
    <div style="margin-top: 20px;">
        <span style="text-align: justify;">
            @Html.Raw(Resources.ForgotPasswordResource.PasswordChangeText)
            @Html.ActionLink(Resources.ForgotPasswordResource.PasswordChangeLink, "Login", "Account")
        </span>
   </div>
</div>

