

<div class="login">
    <h2>@Html.Raw(Resources.ForgotPasswordResource.EmailSentHeaderString)</h2>
    <div style="margin-top: 20px;">
        <span style="text-align: justify;">
            @Html.Raw(Resources.ForgotPasswordResource.EmailSentText)
        </span>
    </div>
</div>

