@model BcmWeb_30.Models.ModulosUserModel

@if(!Request.IsAuthenticated) {
    @*@Html.ActionLink("Register", "Register", "Account") 
    @: |*@ 
    @Html.ActionLink(Resources.LoginResource.accountHeader, "Login", "Account", routeValues: null, htmlAttributes: new { onclick="lp.Show();" })
}
else
{

    @*@Html.ActionLink(string.Format("{0} {1}", Resources.LoginResource.WelcomeString, User.Identity.Name), "", null, new { href = "javascript:perfilModalMode.Show();" })*@
    @*@Html.ActionLink(string.Format("{0} {1}", Resources.LoginResource.WelcomeString, Model.Perfil.Nombre), "", null, new { href = "javascript:perfilModalMode.Show();" })*@
    @Html.Raw(string.Format("{0} {1}", Resources.LoginResource.WelcomeString, User.Identity.Name))
    @: |
    @Html.ActionLink(Resources.LoginResource.LogOutString, "LogOff", "Account", routeValues: null, htmlAttributes: new { onclick = "lp.Show();" })

    @: <br/><br/>
    @: @if (Session["IdEmpresa"] != null)
    { 
        <span style="font-weight: bold; font-size: 12pt;">@Html.Raw(String.Format("{1} {0}", BcmWeb_30.Metodos.GetNombreEmpresa(), Resources.LoginResource.EmpresaLabelString))</span> 
    }

    @*@Html.Partial("_PerfilPartialView", Model);*@
}

