@using BcmWeb_30.Models

@model DocumentoDiagrama

<script>
    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>


@section LeftPanel {
    @Html.DevExpress().Panel(settings =>
   {
       settings.Name = "LeftPane";
       settings.FixedPosition = PanelFixedPosition.WindowLeft;
       settings.Collapsible = true;
       settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 1023;
       settings.ControlStyle.CssClass = "leftPane";
       settings.Styles.Panel.CssClass = "panel";
       settings.ScrollBars = ScrollBars.Vertical;
       settings.SetContent(() =>
       {
           Html.RenderPartial("ContentLeftPartialView");
       });
   }).GetHtml()
}

@using (Html.BeginForm("DiagramaBCP", "Documentos", FormMethod.Post, htmlAttributes: new { id = "frmDiagrama" }))
{

    <table>
        <tr>
            <td>
                <div style="float: right; margin-right: 10px;">
                    <input id="printdiv" type="button" value="@Resources.BCMWebPublic.captionButtonImprimir" onclick="printContent('dvPrint')" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Partial("PartialDiagramaProceso")
            </td>
        </tr>
    </table>

    <div id="dvPrint" style="display:none;">
        @Html.Partial("PartialDiagramaProceso")
    </div>

}
