@using BcmWeb_30.Models

@model CargoModel

    <div id="content">
        @Html.DevExpress().TextBoxFor(m => m.NombreCargo, tb =>
        {
            tb.ShowModelErrors = true;
            tb.Width = Unit.Percentage(100);
            tb.Properties.Caption = Resources.FichaResource.captionCargo;
            tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
        }).GetHtml()
        <div style="margin-top: 10px; float:right;">
            @Html.DevExpress().Button(bt =>
        {
            bt.Name = "botSaveCargo";
            bt.Text = Resources.BCMWebPublic.captionButtonSave;
            bt.ClientSideEvents.Click = "CreateCargo";
        }).GetHtml()
        </div>
    </div>
