@using BcmWeb_30
@using BcmWeb_30.Models

@model IniciativaModel

@section LeftPanel {
    @Html.DevExpress().Panel(settings =>
   {
       settings.Name = "LeftPane";
       settings.FixedPosition = PanelFixedPosition.WindowLeft;
       settings.Collapsible = true;
       settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 1023;
       settings.ControlStyle.CssClass = "leftPane";
       settings.Styles.Panel.CssClass = "panel";
       settings.SetContent(() =>
       {
           Html.RenderPartial("ContentLeftPartialView");
       });
   }).GetHtml()
}

@using (Html.BeginForm("ExportProgramaciones", "Documentos", FormMethod.Post, htmlAttributes: new { id = "ProgramacionesForm" }))
{

    @Html.HiddenFor(m => m.IdModuloActual)

    <div style="float: right; margin-top: -25px;">
        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "btExport";
            settings.Text = Resources.BCMWebPublic.stringExportExcel;
            settings.UseSubmitBehavior = true;
        }).GetHtml()
    </div>

    @Html.Partial("ProgramacionPartialView", Session["gvdProgramacion"])

}