@using BcmWeb_30
@using DevExpress.Data;

@{

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    var grid = Html.DevExpress().GridView(
        settings =>
        {
            settings.Name = "gvEjercicios";
            settings.KeyFieldName = "IdEjercicio";
            settings.CallbackRouteValues = new { Controller = "PPE", Action = "EjerciciosEjecucionPartialView" };
            settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "PPE", Action = "EjercicioEjecucionAddNewPartial" };
            settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "PPE", Action = "EjercicioEjecucionUpdatePartial" };
            settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "PPE", Action = "EjercicioEjecucionDeletePartial" };
            settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
            settings.SettingsBehavior.ConfirmDelete = true;
            settings.Width = Unit.Percentage(100);
            settings.Settings.VerticalScrollableHeight = 325;
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
            settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
            settings.Caption = Resources.PPEResource.TitleGridEjerciciosEjecucion;
            settings.Styles.TitlePanel.Font.Bold = true;
            settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
            settings.SettingsLoadingPanel.Mode = GridViewLoadingPanelMode.Disabled;
            settings.ClientSideEvents.BeginCallback = "function (s,e) { lp.Show(); }";
            settings.ClientSideEvents.EndCallback = "function (s,e) { lp.Hide(); }";

            settings.CommandColumn.Visible = true;
            settings.CommandColumn.ShowNewButton = false;
            settings.CommandColumn.ShowNewButtonInHeader = true;
            settings.CommandColumn.ShowDeleteButton = true;
            settings.CommandColumn.ShowEditButton = true;
            settings.CommandColumn.FixedStyle = GridViewColumnFixedStyle.Left;
            settings.CommandColumn.Width = Unit.Percentage(10);
            settings.CommandColumn.Caption = " ";

            settings.Columns.Add(c =>
            {
                c.FieldName = "Nombre";
                c.Caption = Resources.PPEResource.captionNombreEjercicio;
                c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
                c.CellStyle.Wrap = DefaultBoolean.True;
                c.FixedStyle = GridViewColumnFixedStyle.Left;
                c.Width = Unit.Percentage(35);
            });
            settings.Columns.Add(c =>
            {
                c.FieldName = "Descripcion";
                c.Caption = Resources.PPEResource.captionDescripcionEjercicio;
                c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
                c.HeaderStyle.Wrap = DefaultBoolean.True;
                c.CellStyle.Wrap = DefaultBoolean.True;
                c.Width = Unit.Percentage(35);
            });
            settings.Columns.Add(c =>
            {
                c.FieldName = "Inicio";
                c.Caption = Resources.PPEResource.captionFechaInicio;
                c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
                c.HeaderStyle.Wrap = DefaultBoolean.True;
                c.CellStyle.Wrap = DefaultBoolean.True;
                c.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy HH:mm";
                c.CellStyle.HorizontalAlign = HorizontalAlign.Center;
                c.Width = Unit.Percentage(10);
            });
            settings.Columns.Add(c =>
            {
                c.FieldName = "DuracionHoras";
                c.Caption = Resources.PPEResource.captionDuracionHorasEjecucionEjercicio;
                c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
                c.HeaderStyle.Wrap = DefaultBoolean.True;
                c.CellStyle.Wrap = DefaultBoolean.True;
                c.CellStyle.HorizontalAlign = HorizontalAlign.Center;
                c.Width = Unit.Percentage(10);
            });
            settings.Columns.Add(c =>
            {
                c.FieldName = "DuracionMinutos";
                c.Caption = Resources.PPEResource.captionDuracionMinutosEjecucionEjercicio;
                c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
                c.HeaderStyle.Wrap = DefaultBoolean.True;
                c.CellStyle.Wrap = DefaultBoolean.True;
                c.CellStyle.HorizontalAlign = HorizontalAlign.Center;
                c.Width = Unit.Percentage(10);
            });
            settings.Columns.Add(c =>
            {
                c.FieldName = "IdStatus";
                c.Caption = Resources.PPEResource.captionEstadoEjecucion;
                c.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
                c.HeaderStyle.Wrap = DefaultBoolean.True;
                c.CellStyle.HorizontalAlign = HorizontalAlign.Center;
                c.Width = Unit.Percentage(10);
                c.EditorProperties().ComboBox(p =>
                {
                    p.TextField = "Descripcion";
                    p.ValueField = "Id";
                    p.ValueType = typeof(short);
                    p.DataSource = Metodos.GetEstadoEjecucion();
                });
            });

            settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
            settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;
            settings.SettingsPopup.EditForm.Modal = true;
            settings.SettingsPopup.EditForm.ShowCloseButton = false;
            settings.SettingsPopup.EditForm.ShowHeader = true;
            settings.SettingsText.PopupEditFormCaption = Resources.PPEResource.TitleEjercicio;

            settings.SetEditFormTemplateContent(c =>
            {
                Html.DevExpress().FormLayout(fls =>
                {
                    fls.Name = "FormLayoutEjercicio";
                    fls.Width = Unit.Percentage(100);
                    fls.ColCount = 2;
                    fls.Items.Add(i =>
                    {
                        i.FieldName = "Nombre";
                        i.Caption = Resources.PPEResource.captionNombreEjercicio;
                        i.ColSpan = 2;
                        i.NestedExtension().TextBox(s =>
                        {
                            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                            s.ShowModelErrors = true;
                            s.Width = Unit.Percentage(100);
                        });
                    });
                    fls.Items.Add(i =>
                    {
                        i.FieldName = "Descripcion";
                        i.Caption = Resources.PPEResource.captionDescripcionEjercicio;
                        i.ColSpan = 2;
                        i.NestedExtension().Memo(s =>
                        {
                            s.Properties.Height = Unit.Pixel(70);
                            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                            s.ShowModelErrors = true;
                            s.Width = Unit.Percentage(100);
                        });
                    });
                    fls.Items.Add(i =>
                    {
                        i.FieldName = "Inicio";
                        i.Caption = Resources.PPEResource.captionFechaInicio;
                        i.NestedExtension().DateEdit(s =>
                        {
                            string UserTimeZone = Session["UserTimeZone"].ToString();
                            int Horas = int.Parse(UserTimeZone.Split(':').First());
                            int Minutos = (Math.Abs(Horas) * 60) + int.Parse(UserTimeZone.Split(':').Last());
                            if (Horas < 0) Minutos *= -1;

                            s.Properties.MaxDate = DateTime.UtcNow.AddMinutes(Minutos);
                            s.Date = DateTime.UtcNow.AddMinutes(Minutos);
                            s.Properties.UseMaskBehavior = true;
                            s.Properties.EditFormat = EditFormat.Custom;
                            s.Properties.EditFormatString = "dd/MM/yyyy HH:mm";
                            s.Properties.TimeSectionProperties.Visible = true;
                            s.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Custom;
                            s.Properties.TimeSectionProperties.TimeEditProperties.EditFormatString = "HH:mm";
                            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                            s.ShowModelErrors = true;
                            s.Width = Unit.Percentage(100);
                        });
                    });
                    fls.Items.Add(i =>
                    {
                        i.FieldName = "DuracionHoras";
                        i.Caption = Resources.PPEResource.captionDuracionHorasEjecucionEjercicio;
                        i.NestedExtension().SpinEdit(s =>
                        {
                            s.Properties.SpinButtons.ShowIncrementButtons = false;
                            s.Properties.NumberType = SpinEditNumberType.Integer;
                            s.Properties.DisplayFormatString = "#0";
                            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                            s.ShowModelErrors = true;
                            s.Width = Unit.Percentage(100);
                        });
                    });
                    fls.Items.Add(i =>
                    {
                        i.FieldName = "DuracionMinutos";
                        i.Caption = Resources.PPEResource.captionDuracionMinutosEjecucionEjercicio;
                        i.NestedExtension().SpinEdit(s =>
                        {
                            s.Properties.SpinButtons.ShowIncrementButtons = false;
                            s.Properties.NumberType = SpinEditNumberType.Integer;
                            s.Properties.DisplayFormatString = "#0";
                            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                            s.ShowModelErrors = true;
                            s.Width = Unit.Percentage(100);
                        });
                    });
                    fls.Items.Add(i =>
                    {
                        i.FieldName = "IdStatus";
                        i.Caption = Resources.PPEResource.captionEstadoEjecucion;
                        i.ColSpan = 2;
                        i.NestedExtension().ComboBox(s =>
                        {
                            s.Properties.TextField = "Descripcion";
                            s.Properties.ValueField = "Id";
                            s.Properties.ValueType = typeof(long);
                            s.Properties.DataSource = Metodos.GetEstadoEjecucion();
                            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                            s.ShowModelErrors = true;
                            s.Width = Unit.Percentage(100);
                        });
                    });
                    fls.Items.Add(i =>
                    {
                        i.ColSpan = 2;
                        i.ShowCaption = DefaultBoolean.False;
                    }).SetNestedContent(() =>
                    {
                        ViewContext.Writer.Write("<div style='float:right'>");
                        Html.DevExpress().Button(
                    btnSettings =>
                    {
                        btnSettings.Name = "btnUpdate";
                        btnSettings.Text = Resources.BCMWebPublic.captionButtonSave;
                        btnSettings.ClientSideEvents.Click = "function(s, e){ gvEjercicios.UpdateEdit(); }";
                    }).Render();
                        Html.DevExpress().Button(
                btnSettings =>
                {
                    btnSettings.Name = "btnCancel";
                    btnSettings.Text = Resources.BCMWebPublic.captionButtonCancel;
                    btnSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                    btnSettings.ClientSideEvents.Click = "function(s, e){ gvEjercicios.CancelEdit(); }";
                }).Render();
                        ViewContext.Writer.Write("</div>");
                    });
                    fls.Items.AddEmptyItem();
                })
                .Bind(ViewData["EditableReg"] ?? c.DataItem)
                .Render();
            });
            settings.InitNewRow = (s, e) =>
            {
                e.NewValues["Inicio"] = Metodos.GetPrueba(long.Parse(Session["IdPrueba"].ToString())).FechaInicio;
            };
        });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Metodos.GetPruebaEjerciciosEjecucion(long.Parse(Session["IdPrueba"].ToString()))).GetHtml()


